body {
    background-color: rgb(223, 222, 222);
}

header, footer {
    padding: 16px 0;
    background-color: rgb(165, 42, 42);
}

footer {
    color: rgb(255, 255, 255);
}

header h1 {
    font-size: 48px;
    margin-left: 22px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li {
    display: inline;
    margin-right: 16px;
    font-size: 26px;
}

header nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

section .container img {
    margin: 4% 16%;
    max-width: 680px;
    max-height: 720px;
}

.container .text_content {
    background-color: rgba(201, 152, 104, 0.466);
    display: flex;
    width: 54.5%;
    margin: -2% 16%;
}

section .container div {
    flex-direction: column;
    align-items: center;
}

.sections section .container ul img {
    margin: 45px 38px;
    width: 160px;
    height: 160px;
}

section .container ul {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
}

.sections {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 16%;
}


form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 120px;
}

section h3,
section h2 {
    margin-bottom: 16px;
}

form button {
    background-color: brown;
    font-size: 34px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: rgba(216, 17, 17, 0.781);
    transition: 1.2s;
    
}

input:focus, textarea:focus {
    outline-color: brown;
}

#comprar div ul {
    display: flex;
}

#comprar div ul li img {
    width: 80px;
    margin: 15px 26px;
}

#comprar .container div {
    display: flex;
    width: 33%;
}

#comprar {
    display: block;
    margin: 3% 2%;
}

#comprar .metodos_de_contato {
    display: flex;
    justify-content: space-between;
}

.redes_sociais {
    list-style-type: none
}

#instrumentos {
    cursor: pointer;
}